.item {
    width:60px;
    height:40px;
    background-color: red;
    margin:10px;
}

.title_container {
    width:500px;
    height:60px;
    background-color:blue;
}

.header_container {
    width:500px;
    height:60px;
    background-color:burlywood;
}