@{
    ViewBag.Title = "Home Page";
}

<div id="left_side">
        <div class="item" data-bind="draggable: { data: newTitle, isEnabled: allowNewTitle }">
            <span data-bind="text: name"></span>
        </div>

        <div class="item" data-bind="draggable: { data: newHeader, isEnabled: allowNewHeader }">
            <span data-bind="text: name"></span>
        </div>
</div>

<div id="right_side">
    
    <table style="border:groove">
        <tbody data-bind="foreach: rows">
            <tr style="border:dotted" data-bind="foreach: $data">
                <td style="border:inset" data-bind="text: $data.name()"></td>
            </tr>
        </tbody>
    </table>

    <button data-bind="click: addNewItem, text: 'Click me'"></button>

</div>